<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NSearcher" connectionString="Data Source=localhost;Initial Catalog=NSearcher;Integrated Security=True;"/>
    <!--<add name="Mp3Searcher.Properties.Settings.NSearcherConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NSearcher.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
